body {
    margin: 20px auto;
    width: 90%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    background-color: none;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
} 
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 22px;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 2em;
}

ul.posts li {
    list-style: none;
}

ul.bullet li {
    font-size: 22px;
    list-style: none;
}    
sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
