<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<style>
	.ref {
	  font-size: 0.5em;
	  padding: none;
	}
	</style>
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	
    <![endif]-->
  </head>
 <!-- <body>-->
	  	 <head>
		 	<title>{{ page.title }}</title> 
			<link rel="stylesheet" type="text/css" href="/css/main.css"  >
		</head> 
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" >Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/stata_training">Resources to learn Stata</a></li>
				<li><a href="/portfolio">My photo portfolio</a></li>
	    		</ul>
			</nav>
    
    <div class="container">
    <div class="wrapper">
      <header>
        <!--<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
	<h1 style=“color:#3498DB;">Gaia Gaudenzi</h1> 
      
        {% if site.logo %}
	     <div class="circular"><img src="{{site.logo | relative_url}}" alt="Logo" height="auto" width="200" style="border-radius:50%"/></div>
        {% endif %}
	
	<br>      
	<a href="mailto:gaiagaudenzi9@gmail.com" target="_blank" class=“ref” >gaiagaudenzi9@gmail.com</a><br>
        <a href="{{ site.github.owner_url }}" target="_blank" class=“ref” >View My GitHub Profile</a>    <br>
	<a href="https://www.linkedin.com/in/gaiagaudenzi/" target="_blank" class=“ref” >My Linkedin profile</a><br>
	<a href="https://twitter.com/GaudenziGaia" target="_blank" class=“ref” >My Twitter profile</a><br>
		     

        {% if site.show_downloads %}
        <ul class="downloads">
          <p><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></p>
          <p><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></p>
          <p><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></p>
        </ul>
        {% endif %}
</div>
</div>
	
		     
      </header>
     
      <section>
	      
	      

      {{ content }}
